<!-- bbar.html - bottom bar with footnotes/links


-->




{% if page.use_disqus && site.links.disqus %}

<!--

<hr/>
-->

<!-- Disqus comments -->
<div id="disqus_thread"></div>
<script type="text/javascript">
/* FUCK YOU DISQUS config... your example code is not working at all
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}'
        this.page.identifier = '{{ site.url }}{{ page.url }}'
    }
  */  
    (function() {
        let s = document.createElement('script')
        s.type = 'text/javascript'
        s.async = true
        s.src = '//{{ site.disqus }}.disqus.com/embed.js'
        s.setAttribute('data-timestamp', +new Date());
        (document.head || document.body).appendChild(s);
    })();
</script>
<noscript>
    enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus comments</a>
</noscript>
{% else %}
<!-- no Disqus support -->
{% endif %}