<!-- topbar.html - top navigation bar across the main site

-->

<header>
    <!--

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    -->

    <a class="header-link-1" href="/"><i class="fa fa-fw fa-home"></i> Kata</a>
    <a class="header-link-2" href="/tutorial"><i class="fa fa-fw fa-terminal"></i> Tutorial</a>
    <a class="header-link-3" href="/blog"><i class="fa fa-fw fa-file-alt"></i> Blog</a>
    <a class="header-link-4" href="/kpl"><i class="fa fa-fw fa-file-contract"></i> KPL</a>
    <a class="header-link-5 header-link-last" href="/philosophy"><i class="fa fa-fw fa-book"></i> Philosophy</a>
</header>
